
<%- include('./partials/Header.ejs'); %>

<section class="ftco-section">
  <div class="container">
          <div class="row justify-content-center mb-3 pb-3">
    <div class="col-md-12 heading-section text-center ftco-animate">

      <h2 class="mb-4">Our Products</h2>
      <p>
        Explore the variety of products you can find on Silverline Farms. Enjoy these and even much more
      </p>
    </div>
  </div>   		
  </div>
  <div class="container tz-gallery">
      <div class="row">

    





<!-- row 1 -->


          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <!-- <a class="lightbox img-prod" href="/gallery/carrot.jpg"><img class="img-fluid" src="/gallery/carrot.jpg" alt="Image"> -->
                    <a class="lightbox img-prod" href="/gallery/carrot.jpg">
                      <img  class="img-fluid"   src="/gallery/carrot.jpg" alt="Park">
                  </a>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Carrots</a></h3>
                      <div class="d-flex">
                          
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/tomatoes.jpeg"><img class="img-fluid"  style="height: 230px;" src="/gallery/tomatoes.jpeg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Tomatoes</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/onions.jpg"><img class="img-fluid" src="/gallery/onions.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Onions</a></h3>
                      <div class="d-flex">
                          
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/goatmeat.png"><img style="height: 200px;" class="img-fluid" src="/gallery/goatmeat.png" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Goat meat - Chevon</a></h3>
                      <div class="d-flex">
                          
                      </div>
                      
                  </div>
              </div>
          </div>

          <!-- row 2 -->

          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="product">
                <a class="lightbox img-prod" href="/images/bitterleaf.jpg"><img class="img-fluid" src="/images/bitterleaf.jpg" alt="Image">
                  
                </a>
                <div class="text py-3 pb-4 px-3 text-center">
                    <h3><a href="#">BitterLeaf</a></h3>
                    <div class="d-flex">
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="product">
                <a class="lightbox img-prod" href="https://media.healthyfood.com/wp-content/uploads/2017/03/Ask-the-experts-Raw-chicken.jpg"><img class="img-fluid"  style="height: 230px;" src="/images/chickenbg.png" alt="Image">
                    <div class="overlay"></div>
                </a>
                <div class="text py-3 pb-4 px-3 text-center">
                    <h3><a href="#">Chicken</a></h3>
                    <div class="d-flex">
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="product">
                <a class="lightbox img-prod" href="/images/duca.png"><img class="img-fluid" src="/images/duca.png" alt="Image">
                    <div class="overlay"></div>
                </a>
                <div class="text py-3 pb-4 px-3 text-center">
                    <h3><a href="#">Ogbono(Duka Nuts)</a></h3>
                    <div class="d-flex">
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="product">
                <a class="lightbox img-prod" href="/images/chicken.png"><img style="height: 200px;" class="img-fluid" src="/gallery/chicken.png" alt="Image">
                    <div class="overlay"></div>
                </a>
                <div class="text py-3 pb-4 px-3 text-center">
                    <h3><a href="#">Meat</a></h3>
                    <div class="d-flex">
                        
                    </div>
                    
                </div>
            </div>
        </div>
  


          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/lettuce.jpg"><img class="img-fluid" src="/gallery/lettuce.jpg" alt="Image">
                     
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Lettuce</a></h3>
                      <div class="d-flex">
                          
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/beetroot.jpg"><img class="img-fluid" src="/gallery/beetroot.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Beetroot</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/otato.jpg"><img class="img-fluid" src="/gallery/potato.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Potato</a></h3>
                      <div class="d-flex">
                       
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/raddish.jpg"><img class="img-fluid" src="/gallery/raddish.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Raddish</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/sweetcorn.jpg"><img class="img-fluid" src="/gallery/sweetcorn.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Sweet Corn</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/berries.jpg"><img class="img-fluid" src="/gallery/berries.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Berries</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/celery.jpg"><img class="img-fluid" src="/gallery/celery.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Celery</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/okro.jpg"><img class="img-fluid" src="/gallery/okro.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Okro</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/pepper.jpg"><img class="img-fluid" src="/gallery/pepper.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Pepper</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/cucumber.jpg"><img class="img-fluid" src="/gallery/cucumber.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Cucumber</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/peas.jpg"><img class="img-fluid" src="/gallery/peas.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Peas</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="/gallery/cauliflower.jpg"><img class="img-fluid" src="/gallery/cauliflower.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Cauliflower</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="
                  /gallery/eggplant.jpg"><img class="img-fluid" src="
/gallery/eggplant2.jpeg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Egg plant</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="
                  /images/dryfish.png"><img class="img-fluid" src="
/gallery/dryfish.png" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#"> Dried fish</a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="
                  https://foodwallet.ng/wp-content/uploads/2020/02/crayfish-business-696x402.jpg"><img class="img-fluid" src="https://foodwallet.ng/wp-content/uploads/2020/02/crayfish-business-696x402.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Crayfish </a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="
                  /gallery/snail.jpg"><img class="img-fluid" src="
/gallery/snail.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Snails </a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="
                  /gallery/chilli.jpg"><img class="img-fluid" src="
/gallery/chilli.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Chilli Pepper </a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="
                  /gallery/cabbage.png"><img class="img-fluid" src="
/gallery/cabbage.png" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Cabbage  </a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                  <a class="lightbox img-prod" href="
                  /gallery/parsely.jpg"><img class="img-fluid" src="
/gallery/parsely.jpg" alt="Image">
                      <div class="overlay"></div>
                  </a>
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">Parsley   </a></h3>
                      <div class="d-flex">
                         
                      </div>
                      
                  </div>
              </div>
          </div>

      </div>

      
      <center>
        <h3><a href="#">And more......</a></h3>
      </center>
     
  </div>
</section>

  <%- include('./partials/Footer.ejs'); %>
