<!-- Products, Offers and Promotions -->

<%- include('./partials/Header.ejs'); %>

<div class="hero-wrap hero-bread" style="background-image: url('https://images.pexels.com/photos/814544/pexels-photo-814544.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About us</span></p> -->
          <h1 class="mb-0 bread" style="font-size:500%;">Offers And Promotions</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
          <div class="container">
              <div class="row">
                 
                  <div class="col-md-12 py-5 wrap-about pb-md-5 ftco-animate">
            <div class="heading-section-bold mb-4 mt-md-5">
                <div class="ml-md-0">
                    <center>
                        <h2 class="mb-4">Promotions</h2>
                        <center>
                
              </div>
            </div>
            <div class="pb-md-5">
                <center>
                <p>We are currently running a wholesale product promotions offer in Abuja and Lagos .
                </p>
                <center>
              
     
                      </div>



                      <div class = "row">
                        <div class="col-md-6 col-lg-6 ftco-animate">
                          <div class="product">
                              <a class="lightbox img-prod" href="https://i.pinimg.com/originals/77/aa/7d/77aa7d2797a1f422ea8dfa2c5053063a.jpg"><img style="height: 500px;" class="img-fluid" src="https://i.pinimg.com/originals/77/aa/7d/77aa7d2797a1f422ea8dfa2c5053063a.jpg" alt="Image">
                                
                              </a>
                           
                          </div>
                      </div>
                        <div class="col-md-6 col-lg-6 ftco-animate">
                          <div class="product">
                              <a class="lightbox img-prod"  href="https://www.localguidesconnect.com/t5/image/serverpage/image-id/655810i98235F23336C9820/image-size/large?v=1.0&px=999"><img style="height: 500px;"  class="img-fluid" src="https://www.localguidesconnect.com/t5/image/serverpage/image-id/655810i98235F23336C9820/image-size/large?v=1.0&px=999" alt="Image">
                                
                              </a>
                           
                          </div>
                      </div>
                      </div>
                 
                  </div>

                
                  
                  <div class="col-md-12 py-5 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section-bold mb-4 mt-md-5">
                        <div class="ml-md-0">
                            <center>
                                <h2 class="mb-4">Agents and Partners</h2>
                            </center>
                        
                      </div>
                    </div>
                    <div class="pb-md-5">
                        <center>
                        <p>
                  
                            We are constantly  seeking agents and partners. 
                          
                        </p>
                        <p>In other to be an agent and partner of Silverline Farms, kindly contact <a href="mailto:partners@silverlinefarms.org">partners@silverlinefarms.org</a> </p>
                    </center>
                        <center>
                            <p><a href="/contact" class="btn btn-primary">Contact Us</a></p>
                        </center>
             
                              </div>
                          </div>
        
              </div>
          </div>
      </section>

      <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-6">
            <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
            <span>Get e-mail updates about our latest products and special offers</span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <form method="POST" action="/newsletter" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" name="email" class="form-control" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
      






<%- include('./partials/Footer.ejs'); %>
